.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    width: 100vw;
    height: 100vh;
  }
  &.hidden {
    display: none;
  }
  &.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }
}

.window {
  padding-top: 42px;
  background: rgb(15, 21, 26);
  display: block;
  width: 100%;
}

.modal > .window {
  z-index: 19999;
  width: 90%;
  max-height: 92vh;
  box-sizing: border-box;
  .body {
    margin: 0 -12px;
    padding: 13px 12px 0;
    overflow: auto;
    max-height: calc(92vh - 57px);
  }
}

.title {
  border-bottom: 1px solid rgba(220, 220, 220, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  color: #fdfdfd;
  background-color: rgba(42, 49, 54, 0.9);
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.closeButton {
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
